.centerCallPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainConsultCard{
    width: 70vw;
    max-width: 700px;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    /* border-radius: 1%; */
    overflow: hidden;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-wrap: wrap;
}

.mainConsultCardState{
    width: 70vw;
    max-width: 700px;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    overflow: hidden;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.mainConsultCardState textarea{
    width: 100%;
    border-style: none;
    border-bottom: solid black 1px;
    padding-left: 10px;
    margin: 10px 0 10px 0;
    resize: vertical;
    color: rgba(0, 0, 0, 0.562);
    user-select: auto;
}

.mainConsultCardState button{
    margin-top: 10px;
    border-style: none;
    height: 30px;
    width: 100%;
    background-color: #fff;
    border: black solid 1px;
    cursor: pointer;
    transition: background-color linear 0.3s, color linear 0.3s;
}

.mainConsultCardState button:hover{
    background-color: #378194;
    color: white;
}

.mainConsultCardState hr{
    margin: 20px;
}

.stateSelectArea{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.stateSelectArea select{
    margin-left: 10px;
    border: 1px solid black;
    background-color: white;
}

.dateConsult{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid black;
    word-break: break-all;
}

.stateBlue{
    color: rgba(0, 0, 255, 0.767);
}

.stateGreen{
    color: rgba(0, 128, 0, 0.658);
}

.stateYellow{
    color: yellow;
}

.consultTitle{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.consultDesc{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.consultContainerDouble{
    width: 100%;
    display: flex;
}

.consultContainerDoubleItem{
    width: 50%;
    margin-top: 10px;
    margin: 10px;
}

.consultContainerDoubleItem input{
    display: block;
    width: 100%;
    height: 30px;
    border-style: none;
    border-bottom: solid black 1px;
    padding-left: 10px;
    margin-top: 5px;
}

.consultContainer{
    width: 100%;
    padding: 10px;
}

.consultContainer textarea{
    width: 100%;
    border-style: none;
    border-bottom: solid black 1px;
    padding-left: 10px;
    margin: 10px 0 10px 0;
    resize: vertical;
    color: rgba(0, 0, 0, 0.562);
    user-select: auto;
}

.mainConsultCard > button{
    width: 70vw;
    border-style: none;
    height: 30px;
    background-color: #fff;
    border: black solid 1px;
    cursor: pointer;
    transition: background-color linear 0.3s, color linear 0.3s;
}

.mainConsultCard > button:hover{
    background-color: rgba(255, 0, 0, 0.781);
    color: white;
}

@media (max-width: 600px){
    .consultContainerDouble{
        display: block;
    }

    .consultContainerDoubleItem {
        width: 95%;
    }

    .mainConsultCard, .mainConsultCard > button {
        width: 90vw;
    }


}

@media (min-width: 601px){
    .consultContainerDoubleItem {
        width: 50%;
    }

    .mainConsultCard{
        width: 70vw;
    }
}