.center{
    padding: 100px 0 50px 0;
    text-align: center;
    width: 100vw;
    font-size: calc(2vh + 2vw);
    position: relative;
    display: flex;
    justify-content: center;
}

.main-text{
    margin: 50px 0 50px 0;
}

.main-text::before{
    position: absolute;
    content: "Artigos";
    color: transparent;
    font-size: calc(10vh + 10vw);
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.contents{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 100px 100px 100px;
}

.card{
    background-color: aliceblue;
    min-width: 300px;
    min-height: 300px;
    margin: 30px;
    cursor: pointer;
    transition: scale linear .5s, box-shadow linear .5s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image{
    position: absolute;
    width: 100%;
    height: 100%;
}

.card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-image::before{
    background: linear-gradient(to top, black, transparent);
}

.card-image::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
}

.card-title{
    position: absolute;
    z-index: 1000;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.card-title::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.267);
}

#services::before {
    content: "Serviços";
}

#price::before {
    content: "Preço";
}

#contact::before {
    content: "Contato";
}

.card:hover{
    scale: 1.05;
    box-shadow: 10px 10px 27px -22px rgba(0,0,0,0.75);
}

.card:not(:hover){
    scale: 1;
    box-shadow: none;
}