.MainPriceItens{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.priceContents{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardPrice{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 30px;
    cursor: pointer;
    transition: scale linear .5s, box-shadow linear .5s;
    overflow: hidden;
    border: solid 1px black;
    background-color: black;
}

.cardPriceDesc{
    position: absolute;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 60px 30px 30px 30px;
    text-align: justify;
}

.cardPriceDesc h2{
    text-transform: uppercase;
}

.cardPriceMain{
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

.active{
    transform: translateY(-250px);
}

.card-imagePrice{
    width: 100%;
    height: 100%;
    position: relative;
}

.card-imagePrice{
    position: absolute;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.card-imagePrice::before{
    background: linear-gradient(to top, black, transparent);
}

.card-imagePrice::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.267);
}

#idBronze::before{
    content: "Bronze";
}

#idPrata::before{
    content: "Prata";
}

#idOuro::before{
    content: "Ouro";
}

.card-imagePrice::after{
    content: "R$25";
    position: absolute;
    left: 10px;
    bottom: 0;
    font-size: 2.5rem;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.267);

}

#idBronze::after{
    content: "R$15";
}

#idPrata::after{
    content: "R$25";
}

#idOuro::after{
    content: "R$40";
}

.card-imagePrice img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardPriceTitle{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
}

