.allScreen{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.messageBox div{
    height: 100%;
}

.messageBox{
    margin-top: 20px;
    width: 75%;
    max-width: 800px;
    height: 30px;
    border-radius: 30px;
    background-color:#D4EDDA;
    border: solid 1.5px #1a5729bb;
    display: flex;
    flex-wrap: wrap;
    color: #1A5729;
}

.messageText{
    width: 80%;
    display: flex;
    padding: 10px;
    align-items: center;
}

.messageButton{
    width: 20%;
    display: flex;
    justify-content: right;
}

.messageButton button{
    height: 100%;
    width: auto;
    padding: 0 10px 0 10px;
    border-radius: 30px;
    background-color: #D4EDDA;
    color:#1A5729;
    border: solid #1A5729 1px;
}

@media (max-width: 600px){
    .messageBox {
        width: 90%;
    }
}

@media (min-width: 601px){
    .messageBox {
        width: 75%;
    }
}
